<nb-layout>
  <!-- <nb-layout-header fixed>
    <button nbButton status="success" size="tiny" (click)="toggle()">Toggle</button>
  </nb-layout-header> -->

  <nb-sidebar fixed="false" tag="left">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo/logo-website.svg" alt="" width="100%" height="auto" class="d-inline-block align-center mb-5">
    </a>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning">
    <button nbButton hero status="info" shape="rectangle" size="small" (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
  </nb-layout-column>

  <app-scene3d></app-scene3d>
  
</nb-layout>
